@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'opensans';
  font-weight: 700;
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'opensans';
  font-weight: 600;
  src: url('./assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'opensans';
  font-weight: 500;
  src: url('./assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'opensans';
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
